/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/*________________________________________
|
|	 ESTILOS GENERALES          
|________________________________________*/

@font-face{
    font-family: 'nexalight';
    src: url('vistas/font/nexalight.ttf') format("truetype");
}

@font-face {
    font-family: 'nexabold';
    src: url(../font/nexabold.ttf) format("truetype");
}

@font-face {
    font-family: "beyondthemountains";
    src: url(../font/beyondthemountains.ttf) format("truetype");
}

@font-face {
    font-family: "nexalight";
    src: url(../font/nexa_light.ttf) format("truetype");
}
/*________________________________________
|
|	DEFAULT
|________________________________________*/

.section_init{
    width: 100%;
    display: inline-block;
    height: 100vh;
    position: relative;
    background-color: azure;
}       
.section_init p{
    text-align: center;
    line-height: 100vh;
}
body{
    margin: 0px;
    padding: 0px;
}
p{
    font-family: 'nexalight';
}
section{
    width: 100%;
    position: relative;
}
.btn-green-aloe{
    background-color: #a8d162 ;
    padding: 5px;
    border-radius: 10px; 
    color: #000 !important;
    cursor: pointer;   
}
.text-green-aloe{
    color: #7fca00 ;
}
.subtitulo{
    font-size: 40px;
    display: inline-block;
    text-align: center;
}

.line{
    margin-top: 50px;
    width: 100px;
    position: relative;
}
.line_text{
    margin-top: 20px;
    width: 100px;
    position: relative;
}

.txt_verde{
    color: #a8d162;
    font-family: 'nexabold';
}

.txt_azul{
    color: #3bc3f2;
    font-family: 'nexabold';
}

.txt_aloe{
    color: #a8d162;
    font-family: 'beyondthemountains';
}

.txt_italica{
    font-size: 25px;
}

.txt_sin_espacio{
    margin-bottom: -20px;
    position: relative;
    display: block;
}
.space_header{
    display: inline-block;
    margin-top: 100px;
}
.quitar_padding{
    padding: 0px !important;
}
.texto_padding{

    padding: 5px !important;
}		
.btn-primary {
    color: #fff;
    background-color: #40c0f0 !important;
}            	       		   
.breadcrumb li{
    text-transform: uppercase;
}
.md-form input:not([type]), .md-form input[type="text"]:not(.browser-default), .md-form input[type="password"]:not(.browser-default), .md-form input[type="email"]:not(.browser-default), .md-form input[type="url"]:not(.browser-default), .md-form input[type="time"]:not(.browser-default), .md-form input[type="date"]:not(.browser-default), .md-form input[type="datetime"]:not(.browser-default), .md-form input[type="datetime-local"]:not(.browser-default), .md-form input[type="tel"]:not(.browser-default), .md-form input[type="number"]:not(.browser-default), .md-form input[type="search"]:not(.browser-default), .md-form input[type="search-md"], .md-form textarea.md-textarea{
    color: #3bc3f2;
    font-weight: 600;
    font-family: 'nexalight';
}

/*________________________________________
|
|	fin default
|________________________________________*/


 /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {



}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}