footer{
    widows: 100%;
    margin: 0px;
    background-color: #444444;
    color: #fff;
}
.imagen_footer img{
    width: 50%;

}
.datos_contacto p{
    position: relative;
    display: inline-block;
    font-family: 'nexabold';
    font-size: 16px;
    float: right;
    right: 0px;
    padding-top: 50px;
    text-align: right;

}
.datos_contacto p span{
    font-size: 20px;
    

}
.sucursales img{
    width: 22px;
}
.sucursales h5{
    padding:5px 0px;
}
.sucursales p{
    font-size: 13px;
    font-family: 'nexalight';
    padding-left: 25px;
}
.footer2{
    display: inline-block;
    background-color: #3cc2f2;
    width: 100%;
    padding: 10px;
    line-height: 20px;
}
.footer2 .raw{
    margin: 0px !important      ;
}

.redes_sociales p{
    font-size: 12px;
    text-align: center;
    

}
.copyrigth img{
    width: 150px;
    float:right;

}
.text_copy p{
    padding-top: 20px;
    
}
.redes_sociales img{
   
    float:left;
    width: 30px;
    margin-top: 15px;

}