
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
 .inicio_carousel{
    margin-top: 0px;
 }
 .imagen_banner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    min-height: 650px;
 }

 .texto-banner{
    position: absolute;
    display: inline-block;
    width: 100%;
    text-align: right;
    top: 40%;
 }
    
 .texto-banner p{
    font-size: 70px;
    color: #a8d162;
    font-family: 'nexabold';

}

.texto-banner span{
    color: #ccc;
    font-size: 1.5em;
    font-family: 'beyondthemountains';
    margin-top: -40px !important;
    position: relative;
    display: block;
}

.inicio_carousel a span{
    background:#b4b3b3;
    color:#fff;
    }
.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


.txt_verde{
    color: #a8d162;
    font-family: 'nexabold';
}

.txt_azul{
    color: #3bc3f2;
    font-family: 'nexabold';
}

.txt_aloe{
    color: #a8d162;
    font-family: 'beyondthemountains';
}

.txt_italica{
    font-size: 25px;
}

.txt_sin_espacio{
    margin-bottom: -20px;
    position: relative;
    display: block;
}

.section-paquetes{
    position: relative;
    width: 100%; 
    margin-top: -100px;
}

.section-paquetes img{
    width: 100%;
}

.paquetes_pc{
    

}
.paquetes_movil{
    display: none;

}

.banner_pc{
  display: block;
  
}
.banner_movil{
  display: none

}

.section-categorias{
    position: relative;
    text-align: center;
}

.img-categoria img{
    width: 100%;
    text-align: center;
}

.img-categoria p{
    text-align: center;
    font-size: 16px;
    color: #000;
}

.nosotros{
    display: inline-block;
    position: relative;
    width: 100%;    
}

.subtitulo{
    font-size: 40px;
    display: inline-block;
    text-align: center;
}

.seccion_nosotros{
    display: inline-block;
    position: relative;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.imgnosotroslogo img{
   width: 60%;  
   padding: 20px;
}

.seccion_nosotros .imgnosotros{
    width: 40%;
    height: auto;
    right: 0;
    float: right;
}

#oferta_laboral{
    background-color: #f8f8f8;
}

.seccion_img img{
    display: inline;
    position: relative;
    width: 100%;
}
#oferta_laboral .seccion_txt{
    float: left;
}
.btn_laboral{
    float: right;
}
.seccion_txt .subtitulo{
    text-align: left !important;

}
 
@media (max-width: 576px) {
     .imagen_banner{
        background-position: center;
        
     }

    .texto-banner{
        text-align: center;
        top: 35%;
     }
        
    .texto-banner p{
        font-size: 35px;

    }

    .texto-banner span{
        font-size: 1.5em;
        margin-top: -20px !important;

    }


   .paquetes_pc{
        display: none;

    }
    .txt_sin_espacio {
        margin-bottom: -10px;

    }
    .paquetes_movil{
        display: initial;

    }
    .section-paquetes {
         margin-top: -100px; 
    
    }

    .subtitulo {
        font-size: 23px;
    
    }
    .inicio_carousel{
        margin-top: 70px;
        
     }

     .banner_pc{
      display: none;
      
    }
    .banner_movil{
      display: initial;

    }

     
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    .seccion_nosotros .imgnosotros{
        display: none;
    }

    .seccion_nosotros .imgnosotros {
        width: 50%;
    }
    
    .subtitulo {
        font-size: 30px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}